#include "resource.h"
#include "windows.h"

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

#ifdef _DEBUG
IDI_ICON1               ICON                    "amnesia_debug.ico"
#elif NDEBUG
IDI_ICON1               ICON                    "amnesia_release.ico"
#endif
#endif    // English (U.S.) resources
